.sidebar{
    height: 100vh;
    flex: 0.17;
    background-color: #040404;
    color: white;
    min-width: 170px;
    padding-left: 10px;
    padding-right: 10px;

    .sidebar__logo {
        margin-right: auto;
        height: 45px;
        padding: 10px;
        margin-top: 10px;
    }

    .sidebar__title {
        margin-left: 10px;
        padding: 5px;
        font-size: 12px;
    }

    hr {
        border: 1px solid #282828;
        width: 90%;
        margin: 10px auto;
    }
}